.top-bar,
.top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }
  .menu-text a {
    padding: 0;
  }
  .top-bar-left .menu-text > a:not(.active-link) {
    font-weight: normal;
  }
  .top-bar-right .menu-text > a {
    display: inline;
  }
}
